{% extends "base.html" %} {% block content %} {% load custom_filter %}

    <div class="col-md-10">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">任务列表</h3>
                <div class="pull-right box-tools">
                    <button type="button" class="btn btn-success" data-toggle="modal"
                            data-target="#addTimingTaskModal">
                        <i class="fa fa-plus"></i></button>
                </div>
            </div>

            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <div class="dataTables_wrapper form-inline dt-bootstrap">
                    <table id="task_table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>任务名称</th>
                            <th>任务类型</th>
                            <th>定时时间/间隔</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>全局变量</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in tasklist %}
                            <tr style="cursor: pointer;" id="task_tr{{ task.id }}" onclick="location='/task/detail?task_id={{ task.id }}'">
                                <td>{{ task.name }}</td>
                                <td>{% if task.type == 1 %} 定时 {% else %} 循环 {% endif %}</td>
                                <td>{% if task.type == 1 %} {{ task.run_time }} {% else %} {{ task.between_time }} {% endif %}</td>
                                <td>{{ task.start_time }}</td>
                                <td>{{ task.end_time }}</td>
                                <td>{{ task.global_value }}</td>
                                <td>
                                <span class="badge {% if task.state == 1 %} bg-green {% else %} bg-red {% endif %}">
                                    {% if task.state == 1 %} 开启 {% else %} 关闭 {% endif %}
                                </span>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning" onclick="change_task({{ task.id }})"><i class="fa fa-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger" onclick="delete_task({{ task.id }})"><i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="addTimingTaskModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">定时任务</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-dismiss="modal"><i
                                class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <form class="form-horizontal" action="add_task" method="POST">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="input_name" class="col-sm-2 control-label">名称:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input_name" name="input_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input_type" class="col-sm-2 control-label">类型:</label>
                            <div class="col-sm-5">
                                <select class="form-control" id="input_type" name="input_type">
                                    <option>定时</option>
                                    <option>循环</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label id="label_between" for="input_between" class="col-sm-2 control-label">定时时间:</label>
                            <div id="view_input_between" class="input-group col-sm-4" style="float:left">
                                <input type="number" class="form-control col-sm-2" id="input_between" name="input_between">
                            </div>
                            <div id="view_input_between_unit" class="col-sm-4" style="float:left">
                                <select class="form-control" id="between_unit" name="input_between_unit">
                                    <option>分钟</option>
                                    <option>小时</option>
                                </select>
                            </div>
                            <div id="view_input_runtime" class="col-sm-10">
                                <input type="text" class="form-control timepicker-minute" id="input_runtime" name="input_runtime">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input_starttime" class="col-sm-2 control-label">开始时间:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control datetimepicker" id="input_starttime" name="input_starttime">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input_endtime" class="col-sm-2 control-label">结束时间:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control datetimepicker" id="input_endtime" name="input_endtime">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input_global_value" class="col-sm-2 control-label">全局变量:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input_global_value" name="input_global_value">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input_state" class="col-sm-2 control-label">状态:</label>
                            <div class="col-sm-5">
                                <select class="form-control" id="input_state" name="input_state">
                                    <option>开启</option>
                                    <option>关闭</option>
                                </select>
                            </div>
                        </div>
                        <div class="has-error">
                            <span id="add_error_message" class="help-block has-error">请输入完整信息</span>
                        </div>
                        <div style="display:none">
                            <input type="text" class="form-control" id="input_task_id" name="input_task_id" value="{{ task.id }}">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal -->
    </div>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "plugins/datatables/dataTables.bootstrap.css" %}">
    <script src="{% static "plugins/echarts/echarts.min.js" %}"></script>
    <script src="{% static "plugins/echarts/macarons.js" %}"></script>
    <!-- DataTables -->
    <script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "plugins/datatables/dataTables.bootstrap.min.js" %}"></script>
    <!-- SlimScroll -->
    <script src="{% static "plugins/slimScroll/jquery.slimscroll.min.js" %}"></script>
    <!-- FastClick -->
    <script src="{% static "plugins/fastclick/fastclick.js" %}"></script>
    <script src="{% static "plugins/art-template-master/lib/template-web.js" %}"></script>
    <script src="{% static "plugins/timepicker/bootstrap-timepicker.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "plugins/timepicker/bootstrap-timepicker.css" %}">
    <script>
        $('#menu_service').addClass('active');
        $('#menu_timing_task').addClass('active');
        $('#page_header').text('定时任务');
        $('#page_nav').text('项目管理');
        $('#page_name').text('定时任务');

        $('#task_table').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true
        });

        $('.datetimepicker').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss'
            }
        );
        $('#input_runtime').datetimepicker({
                format: 'HH:mm'
            }
        );

        $('#add_error_message').hide();
        $('#view_input_between').hide();
        $('#view_input_between_unit').hide();

        function change_task(task_id) {
            var task_tr = $('#task_tr' + task_id);
            var name = $.trim(task_tr.find('td').eq(0).text());
            var type = $.trim(task_tr.find('td').eq(1).text());
            var between_time = $.trim(task_tr.find('td').eq(2).text());
            var starttime = $.trim(task_tr.find('td').eq(3).text());
            var endtime = $.trim(task_tr.find('td').eq(4).text());
            var global_value = $.trim(task_tr.find('td').eq(5).text());
            var state = $.trim(task_tr.find('td').eq(6).text());

            $('#input_name').val(name);
            if (type == '定时') {
                $('select[name="input_type"]').val('定时')
                $('#label_between').text("定时时间:");
                $('#view_input_between').hide();
                $('#view_input_between_unit').hide();
                $('#view_input_runtime').show();
                $('#input_runtime').val(between_time);
            }
            else {
                $('select[name="input_type"]').val('循环');
                $('#label_between').text("间隔:");
                $('#view_input_between').show();
                $('#view_input_between_unit').show();
                $('#view_input_runtime').hide();
                if (between_time.indexOf('分钟')) {
                    $('#input_between').val(between_time.split('分钟')[0]);
                    $('select[name="input_between_unit"]').val('分钟')
                }
                else if (between_time.indexOf('小时')) {
                    $('#input_between').val(between_time.split('小时')[0]);
                    $('select[name="input_between_unit"]').val('小时')
                }
                else if (between_time.indexOf('天')) {
                    $('#input_between').val(between_time.split('天')[0]);
                    $('select[name="input_between_unit"]').val('天')
                }
            }
            $('#input_starttime').val(starttime);
            $('#input_endtime').val(endtime);
            $('#input_global_value').val(global_value);
            $('select[name="input_state"]').val(state);
            $('#input_task_id').val(task_id);

            $('#addTimingTaskModal').modal({keyboard: true});
            event.stopPropagation();
        }
        function delete_task(task_id) {
            {#            alert('点击了删除');#}
            jQuery.ajax({
                type: 'post',
                url: 'delete_task',
                data: {'task_id': task_id},
                success: function (p) {
                    var response = JSON.parse(p);
                    console.log(response);
                    if (response.flag == "Success") {
                        {#                        alert("删除成功！");#}
                        $('#task_tr' + task_id).remove()
                    } else if (response.flag == "Error") {
                        {#                        alert('删除失败！错误：' + response.flag);#}
                    }
                },
                error: function (e) {
                    {#                    alert('删除失败!' + name + created + owner);#}
                }
            });
            event.stopPropagation();
        }

        $('form').find('button').click(function () {
            if ($('input[name="input_name"]').val() && $('select[name="input_type"]').val() &&
                (($('select[name="input_type"]').val() == '定时' && $('input[name="input_runtime"]').val()) ||
                ($('select[name="input_type"]').val() == '循环' && $('input[name="input_between"]').val() && $('select[name="input_between_unit"]').val())) &&
                $('input[name="input_starttime"]').val() && $('input[name="input_endtime"]').val() &&
                $('input[name="input_global_value"]').val() && $('select[name="input_state"]').val()) {
                $('#add_error_message').hide();
                return true;
            }
            else {
                $('#add_error_message').show();
                return false;
            }
        })

        $('select[name="input_type"]').change(function () {
            if ($('select[name="input_type"]').val() == '定时') {
                $('#label_between').text("定时时间");
                $('#view_input_between').hide();
                $('#view_input_between_unit').hide();
                $('#view_input_runtime').show();
            }
            else {
                $('#label_between').text("间隔");
                $('#view_input_between').show();
                $('#view_input_between_unit').show();
                $('#view_input_runtime').hide();
            }
        })

    </script>
{% endblock %}
